<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <% if user_signed_in? %>
      You are: <strong><%= current_user.email %>!</strong>
      <div class="btn-group">
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link', class: 'btn btn-success' %>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: 'btn btn-danger' %>
      </div>
    <% else %>
      <div class="btn-group">
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-success' %>
        <%= link_to "Sign up now!",  new_user_registration_path, class: 'btn btn-success'%>
      </div>
    <% end %>
  </div>
</head>
<body>

<%= yield %>

</body>
</html>
